@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-Regular.woff2) format('woff2');
}

.game-over {
    position: absolute;
    background-color: #19191a;
    color: white;
    width: 50%;
    height: 40%;
    top: 30%;
    left: 25%
}

.over-header {
    text-align: center;
    font-size: 400%;
    margin-top: 8%;
    margin-bottom: 1%
}

.over-body {
    text-align: center;
    font-size: 150%;
    margin-top: -5%;
    font-family: "Oswald", sans-serif;
}