@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-Regular.woff2) format('woff2');
}

.game-over {
    position: absolute;
    display: flex;
    background-color: #19191a;
    color: white;
    width: 50%;
    height: 40%;
    top: 30%;
    left: 25%;
    text-align: center;
}

.over-header {
    font-size: 7vw;
    margin-top: 2%;
    margin-bottom: 5%
}

.over-body {
    font-size: 2.2vw;
    margin-top: -5%;
    font-family: "Oswald", sans-serif;
}