.hand-score {
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 36%;
    left: 72%;
}

.score-body {
    white-space: pre-line;
    margin-top: 0.1%;
    font-size: 1.05vw;
}

.score-footer {
    color: red;
    font-size: 1.1vw;
}