@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-Regular.woff2) format('woff2');
  }

.hand-button {
    font-family: "Oswald", sans-serif;
    font-size: 110%;
    position: absolute;
    top: 65%;
    left: 45%;
    width: 10%;
    height: 4.5%;
    border-radius: 6px;
    border: 2px solid white;
    background-color: white;
    transition-duration: 0.4s;
    color: black;
}

.hand-button:hover {
    background-color: transparent;
    color:white;
}

.hand-button:active {
    transition-duration: 0.1s;
    transform: scale(0.9);
}