.score-container {
    color: white;
    text-align: center;
}

.score-header {
    font-size: 225%;
    margin-top: 4%;
    margin-bottom: 0.3%;
}

.score-val {
    margin: -2% 0;
    font-size: 400%;
}