@font-face {
    font-family: "Victor";
    src: url(../fonts/VictorMono-Regular.woff2) format('woff2');
}

.heart {
    width: 4%;
    height: auto;
    margin-left: 2%;
    margin-top: 1%;
}

.start-screen-container {
    background-color: #19191a;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    color: white;
}

.start-title-container {
    position: absolute;
    display: flex;
    align-items: center;
    font-family: "Victor", sans-serif;
    font-size: 200%;
    top: 30%;
    left: 30%;
}

.rules-blurb {
    position: absolute;
    font-family: "Victor", sans-serif;
    top: 70%;
    left: 5%;
}

.rules-button {
    font-family: "Victor", sans-serif;
    font-size: 100%;
    background-color: white;
    border: 2px solid white;
    transition-duration: 0.4s;
    position: absolute;
    top: 77%;
    left: 8.3%;
}

.source-blurb {
    font-family: "Victor", sans-serif;
    position: absolute;
    top: 70%;
    left: 77.2%;
}

.source-button {
    font-family: "Victor", sans-serif;
    font-size: 100%;
    background-color: white;
    border: 2px solid white;
    transition-duration: 0.4s;
    position: absolute;
    top: 77%;
    left: 81.5%;
}

.start-button {
    font-family: "Victor", sans-serif;
    font-size: 150%;
    background-color: white;
    border: 2px solid white;
    transition-duration: 0.4s;
    position: absolute;
    top: 52%;
    left: 44.5%;
}

.source-button:hover, .rules-button:hover, .start-button:hover {
    background-color: transparent;
    color:white;
}

.start-button:active, .source-button:active, .rules-button:active {
    transition-duration: 0.05s;
    background-color: white;
}