@font-face {
    font-family: "Victor";
    src: url(../fonts/VictorMono-Regular.woff2) format('woff2');
}

.heart {
    width: 3vw;
    height: auto;
    margin-left: 2.5%;
    margin-top: 1.5%;
}

.start-screen-container {
    position: absolute;
    background-color: #19191a;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-center-container {
    position: absolute;
    top: 25%;
    left: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Victor", sans-serif;
    font-size: 2vw;
    white-space: nowrap;
    flex-direction: row;
}

.start-button {
    margin-top: -5%;
    font-family: "Victor", sans-serif;
    font-size: 2vw;
    color: white;
    background-color: red;
    border: 2px solid red;
    transition-duration: 0.4s;
}

.source-container, .rules-container {
    position: absolute;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px) {
        bottom: 30%;
      }
}

.rules-container {
    left: 5%;
}

.source-container {
    right: 5%;
}

.rules-blurb, .source-blurb {
    font-family: "Victor", sans-serif;
    font-size: 1.5vw;
}

.rules-button, .source-button {
    margin-top: -3%;
    font-family: "Victor", sans-serif;
    font-size: 1.5vw;
    background-color: white;
    border: 2px solid white;
    transition-duration: 0.4s;
}

.source-button:hover, .rules-button:hover {
    background-color: transparent;
    color:white;
}

.source-button:active, .rules-button:active {
    transition-duration: 0.05s;
    background-color: white;
}

.start-button:hover {
    background-color: transparent;
    color: red;
}

.start-button:active {
    background-color: red;
    transition-duration: 0.05s
}