body {
  background-color: #388f36;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  /*Rigid body to better space items.*/
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-hand-container {
  position: absolute;
  width: 50%;
  height: 32%;
}

.lower-hand-container {
  position: absolute;
  width: 50%;
  height: 31%;
  top: 69%;
}

.drop-zone {
  width: 30%;
  height: 20%;
  background-color: #494b4d;
  position: absolute;
  top: 40%;
  left: 34.6%;
}

.cut-container {
  /* background-color: #494b4d; */
  position: absolute;
  width: 10%;
  height: 25%;
  top: 27%;
  left: 5%;
}

.human-score-container {
  background-color: #494b4d;
  position: absolute;
  width: 18%;
  height: 15%;
  top: 6%;
  left: 3%
}

.ai-score-container {
  background-color: #494b4d;
  position: absolute;
  width: 18%;
  height: 15%;
  top: 6%;
  left: 79%;
}