body {
  background-color:lightpink;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  /*Rigid body to better space items.*/
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%
}

.cut-container {
  background-color: black;
  position: absolute;
  width: 10%;
  height: 25%;
  top: 39%;
  left: 6.5%;
}

.player-score-container {
  background-color: black;
  position: absolute;
  width: 18%;
  height: 15%;
  top: 6%;
  left: 3%
}

.ai-score-container {
  background-color: black;
  position: absolute;
  width: 18%;
  height: 15%;
  top: 6%;
  left: 79%
}