@font-face {
  font-family: "Oswald";
  src: url(./fonts/Oswald-Regular.woff2) format('woff2');
}

@font-face {
  font-family: "Barlow";
  src: url(./fonts/Barlow-Medium.woff2) format('woff2');
}

body {
  background-color: #19191a;
  user-select: none; /*Disables users from highlighting text and bugging the game*/
  margin: 0;
  /* overflow: hidden; Rigid body to better space items. DEBUGGER */
  height: 100vh;
  width: 100vw;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-hand-container {
  position: absolute;
}

.lower-hand-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0%;
}

.drop-zone {
  width: 55vw;
  height: 30vh;
  position: absolute;
  display: flex;
  align-items: center;
  top: 33%;
}

.cut-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  top: 36%;
  left: 7.5%;
}

.human-score-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -0.5%;
  left: 5%
}

.ai-score-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -0.5%;
  right: 5%
}

p {
  font-family: "Barlow", sans-serif;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}