body {
  background-color: #388f36;
  user-select: none; /*Disables users from highlighting text and bugging the game*/
  margin: 0;
  overflow: hidden; /*Rigid body to better space items.*/
  height: 100vh;
  width: 100vw;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-hand-container {
  position: absolute;
  width: 50%;
  height: 32%;
}

.lower-hand-container {
  position: absolute;
  width: 50%;
  height: 31%;
  top: 69%;
}

.drop-zone {
  width: 35%;
  height: 25%;
  position: absolute;
  top: 40%;
  left: 32.2%;
}

.cut-container {
  /* background-color: #494b4d; */
  position: absolute;
  width: 10%;
  height: 25%;
  top: 27.2%;
  left: 6%;
}

.human-score-container {
  position: absolute;
  width: 18%;
  height: 15%;
  top: 5%;
  left: 3%
}

.ai-score-container {
  position: absolute;
  width: 18%;
  height: 15%;
  top: 5%;
  left: 79%;
}